.chat__content__area{'data-id' => message.id}
  .chat__content__area__head
    %a.chat__content__area__head__name
      = message.user.name
    %a.chat__content__area__head__time
      = message.created_at
  %p.chat__content__area__string
    - if message.body.present?
      = message.body
    - elsif message.image.present?
      = image_tag message.image.url
    - else
      表示エラー