= link_to group_messages_path(group), style: "text-decoration: none;" do
  .left-menu__box__group
    %p.left-menu__box__group__name
      = group.group_name
    %p.left-menu__box__group__text
      = group.show_last_message