$color-white: #FFFFFF;
$color-aqua: #38AEF0;
$color-black: #333333;
$color-blueblack: #434A54;
$color-palegray: #eeeeee;
$color-lightgray: #999999;
$color-gray: #AAAAAA;
$color-ultramarin: #2f3e51;
$color-darkmarin: #253141;